.feature {
  &-container {
    display: flex;
    gap: 0 170px;
    align-items: flex-end;
    justify-content: space-between;
  }
  &-desc {
    margin: 20px 0;
  }
  &-item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 20px;
  }
}
