.feature {
  margin-bottom: 130px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0 170px;
  }
  &-image {
    margin-left: 35px;
  }
  &-content {
    max-width: 438px;
  }
  &-heading {
    // width: 100%;
    max-width: 383px;
    min-height: 365px;
  }
  &-desc {
    margin: 20px 0;
  }
  &-item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 10px;
    font-size: 14px;
    line-height: calc(30 / 14);
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}
