.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px; // 1170 - 15 - 15 = 1140
  margin: 0 auto;
  padding: 0 15px;
}
body {
  line-height: 1;
  font-family: $font;
  color: $text-color;
}
.button {
  display: inline-block;
  font-family: $font;
  line-height: 1;
  font-size: 16px;
  border: none;
  outline: none;
  &--primary {
    padding: 18px 78px;
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }
  &--outline {
    padding: 13px 45px;
    border: 1px solid $primary-color;
    color: $primary-color;
    border-radius: 50px;
    font-weight: 500;
  }
}
