.intro {
  margin-bottom: 50px;
  &-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 42px 57px 0 rgba(#0d1025, 0.06);
    padding: 37px 0;
  }
  &-item {
    display: flex;
    gap: 0 37px;
  }
}
