.menu {
  list-style: none;
  display: flex;
  gap: 0 40px;
  &-link {
    color: $text-color;
  }
}
@media screen and (max-width: 1023px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    background-color: #f8f8f8f8;
  }
}
