.menu {
  list-style: none;
  display: flex;
  gap: 0 40px;
  &-link {
    color: $text-color;
  }
}
@media screen and (max-width: 1023px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: #fff;
    flex-direction: column;
    z-index: 999;
    padding: 60px 20px;
    border: 1px solid #f8f8f8;
    gap: 20px 0;
    &-link {
      display: block;
      width: 100%;
      padding 20px;
    }
  }
}
