.network {
  &-header {
    max-width: 555px;
    text-align: center;
    margin: 0 auto 155px;
  }
  &-heading {
    text-align: center;
    max-width: 383px;
  }
  &-image {
    width: 1060px;
  }
}
