.network {
  &-header {
    max-width: 555px;
    text-align: center;
    // margin: 0 auto 155px;
  }
  &-heading {
    max-width: 383px;
    margin-left: auto;
    margin-right: auto;
  }
  &-image {
    width: 1060px;
  }
}
