.plan {
  &-container {
    padding: 80px 0 150px;
    background-color: #fbfbfb;
  }
  &-header {
    max-width: 555px;
    text-align: center;
  }
  &-main {
    border: 2px solid #dddddd;
    border-radius: 10px;
    width: 100%;
    max-width: 330px;
    min-height: 760px;
  }
}
